In [1]:
import pandas as pd
import numpy as np
import ast

from requests import head

In [2]:
df = pd.read_csv("Stravl_Travel_Preference_Data.csv")
df.head()

,id,form_a,form_b,form_c,form_f,form_g,form_h,form_i,form_j,form_k,...,Rec_0,Rec_1,Rec_2,Rec_3,Rec_4,Rec_5,Rec_6,Rec_7,Rec_8,Rec_9
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"['0', '1']",['1'],['2'],"['0', '1', '2', '7']","['0', '2', '4']",['1'],['1'],['1'],['2'],...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,89b7022ab8f011ec9a19fefb5d5b7ead,"['0', '1']",['3'],['2'],"['0', '3', '4', '5', '6', '7']","['0', '1', '2', '4']",['1'],['1'],['1'],['1'],...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,c64f6c36b8f011ec9a19fefb5d5b7ead,['1'],['1'],['2'],"['0', '1', '3', '4', '7']","['0', '2', '4', '7']",['1'],['1'],['1'],['0'],...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,1eb6079ab8f111ec9a19fefb5d5b7ead,['1'],['1'],['2'],['7'],['4'],['1'],['2'],['1'],['1'],...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,285e9852b8f111ec9a19fefb5d5b7ead,['1'],['0'],['1'],['2'],"['2', '3', '4']",['0'],['1'],['0'],['0'],...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [3]:
def safe_eval(x):
    if pd.isna(x):
        return np.nan  # keep NaN as NaN
    return ast.literal_eval(x)

columns = ['form_a', 'form_b', 'form_c', 'form_f', 'form_g', 'form_h', 'form_i', 'form_j', 'form_k', 'form_r', 'form_rr']

for col in columns:
    df[col] = df[col].apply(safe_eval)

df.head()

,id,form_a,form_b,form_c,form_f,form_g,form_h,form_i,form_j,form_k,...,Rec_0,Rec_1,Rec_2,Rec_3,Rec_4,Rec_5,Rec_6,Rec_7,Rec_8,Rec_9
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"[0, 1]",[1],[2],"[0, 1, 2, 7]","[0, 2, 4]",[1],[1],[1],[2],...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,89b7022ab8f011ec9a19fefb5d5b7ead,"[0, 1]",[3],[2],"[0, 3, 4, 5, 6, 7]","[0, 1, 2, 4]",[1],[1],[1],[1],...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,c64f6c36b8f011ec9a19fefb5d5b7ead,[1],[1],[2],"[0, 1, 3, 4, 7]","[0, 2, 4, 7]",[1],[1],[1],[0],...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,1eb6079ab8f111ec9a19fefb5d5b7ead,[1],[1],[2],[7],[4],[1],[2],[1],[1],...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,285e9852b8f111ec9a19fefb5d5b7ead,[1],[0],[1],[2],"[2, 3, 4]",[0],[1],[0],[0],...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [4]:
def map_age(lst):
    if not isinstance(lst, list):
        return np.nan

    age_ranges = []

    for item in lst:
        if item == '0':
            age_ranges.append('0-19')
        elif item == '1':
            age_ranges.append('20-39')
        elif item == '2':
            age_ranges.append('40-59')
        elif item == '3':
            age_ranges.append('60+')

    return age_ranges

df['age_ranges'] = df['form_a'].apply(map_age)
df.head()

,id,form_a,form_b,form_c,form_f,form_g,form_h,form_i,form_j,form_k,...,Rec_1,Rec_2,Rec_3,Rec_4,Rec_5,Rec_6,Rec_7,Rec_8,Rec_9,age_ranges
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"[0, 1]",[1],[2],"[0, 1, 2, 7]","[0, 2, 4]",[1],[1],[1],[2],...,-1,-1,-1,-1,-1,-1,-1,-1,-1,"[0-19, 20-39]"
1,89b7022ab8f011ec9a19fefb5d5b7ead,"[0, 1]",[3],[2],"[0, 3, 4, 5, 6, 7]","[0, 1, 2, 4]",[1],[1],[1],[1],...,-1,-1,-1,-1,-1,-1,-1,-1,-1,"[0-19, 20-39]"
2,c64f6c36b8f011ec9a19fefb5d5b7ead,[1],[1],[2],"[0, 1, 3, 4, 7]","[0, 2, 4, 7]",[1],[1],[1],[0],...,-1,-1,-1,-1,-1,-1,-1,-1,-1,[20-39]
3,1eb6079ab8f111ec9a19fefb5d5b7ead,[1],[1],[2],[7],[4],[1],[2],[1],[1],...,-1,-1,-1,-1,-1,-1,-1,-1,-1,[20-39]
4,285e9852b8f111ec9a19fefb5d5b7ead,[1],[0],[1],[2],"[2, 3, 4]",[0],[1],[0],[0],...,-1,-1,-1,-1,-1,-1,-1,-1,-1,[20-39]

In [5]:
def map_budget(lst):
    if not isinstance(lst, list):
        return np.nan

    budget = []

    for item in lst:
        if item == '0':
            budget.append('0-49')
        elif item == '1':
            budget.append('50-99')
        elif item == '2':
            budget.append('100-249')
        elif item == '3':
            budget.append('300+')

    return budget

df['budget_ranges'] = df['form_b'].apply(map_budget)    # budget ranges in $
df.head()

,id,form_a,form_b,form_c,form_f,form_g,form_h,form_i,form_j,form_k,...,Rec_2,Rec_3,Rec_4,Rec_5,Rec_6,Rec_7,Rec_8,Rec_9,age_ranges,budget_ranges
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"[0, 1]",[1],[2],"[0, 1, 2, 7]","[0, 2, 4]",[1],[1],[1],[2],...,-1,-1,-1,-1,-1,-1,-1,-1,"[0-19, 20-39]",[50-99]
1,89b7022ab8f011ec9a19fefb5d5b7ead,"[0, 1]",[3],[2],"[0, 3, 4, 5, 6, 7]","[0, 1, 2, 4]",[1],[1],[1],[1],...,-1,-1,-1,-1,-1,-1,-1,-1,"[0-19, 20-39]",[300+]
2,c64f6c36b8f011ec9a19fefb5d5b7ead,[1],[1],[2],"[0, 1, 3, 4, 7]","[0, 2, 4, 7]",[1],[1],[1],[0],...,-1,-1,-1,-1,-1,-1,-1,-1,[20-39],[50-99]
3,1eb6079ab8f111ec9a19fefb5d5b7ead,[1],[1],[2],[7],[4],[1],[2],[1],[1],...,-1,-1,-1,-1,-1,-1,-1,-1,[20-39],[50-99]
4,285e9852b8f111ec9a19fefb5d5b7ead,[1],[0],[1],[2],"[2, 3, 4]",[0],[1],[0],[0],...,-1,-1,-1,-1,-1,-1,-1,-1,[20-39],[0-49]

In [6]:
def map_season(lst):
    if not isinstance(lst, list):
        return np.nan

    season = ''

    for item in lst:
        if item == '0':
            season = 'Winter'
        elif item == '1':
            season = 'Spring'
        elif item == '2':
            season = 'Summer'
        elif item == '3':
            season = 'Fall'

    return season

df['season'] = df['form_c'].apply(map_season)
df.head()

,id,form_a,form_b,form_c,form_f,form_g,form_h,form_i,form_j,form_k,...,Rec_3,Rec_4,Rec_5,Rec_6,Rec_7,Rec_8,Rec_9,age_ranges,budget_ranges,season
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"[0, 1]",[1],[2],"[0, 1, 2, 7]","[0, 2, 4]",[1],[1],[1],[2],...,-1,-1,-1,-1,-1,-1,-1,"[0-19, 20-39]",[50-99],Summer
1,89b7022ab8f011ec9a19fefb5d5b7ead,"[0, 1]",[3],[2],"[0, 3, 4, 5, 6, 7]","[0, 1, 2, 4]",[1],[1],[1],[1],...,-1,-1,-1,-1,-1,-1,-1,"[0-19, 20-39]",[300+],Summer
2,c64f6c36b8f011ec9a19fefb5d5b7ead,[1],[1],[2],"[0, 1, 3, 4, 7]","[0, 2, 4, 7]",[1],[1],[1],[0],...,-1,-1,-1,-1,-1,-1,-1,[20-39],[50-99],Summer
3,1eb6079ab8f111ec9a19fefb5d5b7ead,[1],[1],[2],[7],[4],[1],[2],[1],[1],...,-1,-1,-1,-1,-1,-1,-1,[20-39],[50-99],Summer
4,285e9852b8f111ec9a19fefb5d5b7ead,[1],[0],[1],[2],"[2, 3, 4]",[0],[1],[0],[0],...,-1,-1,-1,-1,-1,-1,-1,[20-39],[0-49],Spring

In [7]:
def map_interest(lst):
    if not isinstance(lst, list):
        return np.nan

    interests = []

    for item in lst:
        if item == '0':
            interests.append('Beach')
        elif item == '1':
            interests.append('Adventure')
        elif item == '2':
            interests.append('Nature')
        elif item == '3':
            interests.append('Culture')
        elif item == '4':
            interests.append('Nightlife')
        elif item == '5':
            interests.append('History')
        elif item == '6':
            interests.append('Shopping')
        elif item == '7':
            interests.append('Cuisine')

    return interests

df['interests'] = df['form_f'].apply(map_interest)
df.head()

,id,form_a,form_b,form_c,form_f,form_g,form_h,form_i,form_j,form_k,...,Rec_4,Rec_5,Rec_6,Rec_7,Rec_8,Rec_9,age_ranges,budget_ranges,season,interests
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"[0, 1]",[1],[2],"[0, 1, 2, 7]","[0, 2, 4]",[1],[1],[1],[2],...,-1,-1,-1,-1,-1,-1,"[0-19, 20-39]",[50-99],Summer,"[Beach, Adventure, Nature, Cuisine]"
1,89b7022ab8f011ec9a19fefb5d5b7ead,"[0, 1]",[3],[2],"[0, 3, 4, 5, 6, 7]","[0, 1, 2, 4]",[1],[1],[1],[1],...,-1,-1,-1,-1,-1,-1,"[0-19, 20-39]",[300+],Summer,"[Beach, Culture, Nightlife, History, Shopping,..."
2,c64f6c36b8f011ec9a19fefb5d5b7ead,[1],[1],[2],"[0, 1, 3, 4, 7]","[0, 2, 4, 7]",[1],[1],[1],[0],...,-1,-1,-1,-1,-1,-1,[20-39],[50-99],Summer,"[Beach, Adventure, Culture, Nightlife, Cuisine]"
3,1eb6079ab8f111ec9a19fefb5d5b7ead,[1],[1],[2],[7],[4],[1],[2],[1],[1],...,-1,-1,-1,-1,-1,-1,[20-39],[50-99],Summer,[Cuisine]
4,285e9852b8f111ec9a19fefb5d5b7ead,[1],[0],[1],[2],"[2, 3, 4]",[0],[1],[0],[0],...,-1,-1,-1,-1,-1,-1,[20-39],[0-49],Spring,[Nature]

In [8]:
def map_scenery(lst):
    if not isinstance(lst, list):
        return np.nan

    scenery = []

    for item in lst:
        if item == '0':
            scenery.append('Urban')
        elif item == '1':
            scenery.append('Rural')
        elif item == '2':
            scenery.append('Sea')
        elif item == '3':
            scenery.append('Mountain')
        elif item == '4':
            scenery.append('Lake')
        elif item == '5':
            scenery.append('Desert')
        elif item == '6':
            scenery.append('Plains')
        elif item == '7':
            scenery.append('Jungle')

    return scenery

df['sceneries'] = df['form_g'].apply(map_scenery)
df.head()

,id,form_a,form_b,form_c,form_f,form_g,form_h,form_i,form_j,form_k,...,Rec_5,Rec_6,Rec_7,Rec_8,Rec_9,age_ranges,budget_ranges,season,interests,sceneries
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"[0, 1]",[1],[2],"[0, 1, 2, 7]","[0, 2, 4]",[1],[1],[1],[2],...,-1,-1,-1,-1,-1,"[0-19, 20-39]",[50-99],Summer,"[Beach, Adventure, Nature, Cuisine]","[Urban, Sea, Lake]"
1,89b7022ab8f011ec9a19fefb5d5b7ead,"[0, 1]",[3],[2],"[0, 3, 4, 5, 6, 7]","[0, 1, 2, 4]",[1],[1],[1],[1],...,-1,-1,-1,-1,-1,"[0-19, 20-39]",[300+],Summer,"[Beach, Culture, Nightlife, History, Shopping,...","[Urban, Rural, Sea, Lake]"
2,c64f6c36b8f011ec9a19fefb5d5b7ead,[1],[1],[2],"[0, 1, 3, 4, 7]","[0, 2, 4, 7]",[1],[1],[1],[0],...,-1,-1,-1,-1,-1,[20-39],[50-99],Summer,"[Beach, Adventure, Culture, Nightlife, Cuisine]","[Urban, Sea, Lake, Jungle]"
3,1eb6079ab8f111ec9a19fefb5d5b7ead,[1],[1],[2],[7],[4],[1],[2],[1],[1],...,-1,-1,-1,-1,-1,[20-39],[50-99],Summer,[Cuisine],[Lake]
4,285e9852b8f111ec9a19fefb5d5b7ead,[1],[0],[1],[2],"[2, 3, 4]",[0],[1],[0],[0],...,-1,-1,-1,-1,-1,[20-39],[0-49],Spring,[Nature],"[Sea, Mountain, Lake]"

In [9]:
def map_activity(lst):
    if not isinstance(lst, list):
        return np.nan

    activity = ''

    for item in lst:
        if item == '0':
            activity = 'Chill & Relaxed'
        elif item == '1':
            activity = 'Balanced'
        elif item == '2':
            activity = 'Active'

    return activity

df['activity_level'] = df['form_h'].apply(map_activity)
df.head()

,id,form_a,form_b,form_c,form_f,form_g,form_h,form_i,form_j,form_k,...,Rec_6,Rec_7,Rec_8,Rec_9,age_ranges,budget_ranges,season,interests,sceneries,activity_level
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"[0, 1]",[1],[2],"[0, 1, 2, 7]","[0, 2, 4]",[1],[1],[1],[2],...,-1,-1,-1,-1,"[0-19, 20-39]",[50-99],Summer,"[Beach, Adventure, Nature, Cuisine]","[Urban, Sea, Lake]",Balanced
1,89b7022ab8f011ec9a19fefb5d5b7ead,"[0, 1]",[3],[2],"[0, 3, 4, 5, 6, 7]","[0, 1, 2, 4]",[1],[1],[1],[1],...,-1,-1,-1,-1,"[0-19, 20-39]",[300+],Summer,"[Beach, Culture, Nightlife, History, Shopping,...","[Urban, Rural, Sea, Lake]",Balanced
2,c64f6c36b8f011ec9a19fefb5d5b7ead,[1],[1],[2],"[0, 1, 3, 4, 7]","[0, 2, 4, 7]",[1],[1],[1],[0],...,-1,-1,-1,-1,[20-39],[50-99],Summer,"[Beach, Adventure, Culture, Nightlife, Cuisine]","[Urban, Sea, Lake, Jungle]",Balanced
3,1eb6079ab8f111ec9a19fefb5d5b7ead,[1],[1],[2],[7],[4],[1],[2],[1],[1],...,-1,-1,-1,-1,[20-39],[50-99],Summer,[Cuisine],[Lake],Balanced
4,285e9852b8f111ec9a19fefb5d5b7ead,[1],[0],[1],[2],"[2, 3, 4]",[0],[1],[0],[0],...,-1,-1,-1,-1,[20-39],[0-49],Spring,[Nature],"[Sea, Mountain, Lake]",Chill & Relaxed

In [10]:
def map_safety(lst):
    if not isinstance(lst, list):
        return np.nan

    safety = ''

    for item in lst:
        if item == '0':
            safety = 'Very Safety Conscious'
        elif item == '1':
            safety = 'Balanced'
        elif item == '2':
            safety = 'Ready for Anything'

    return safety

df['safety_conscious'] = df['form_i'].apply(map_safety)
df.head()

,id,form_a,form_b,form_c,form_f,form_g,form_h,form_i,form_j,form_k,...,Rec_7,Rec_8,Rec_9,age_ranges,budget_ranges,season,interests,sceneries,activity_level,safety_conscious
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"[0, 1]",[1],[2],"[0, 1, 2, 7]","[0, 2, 4]",[1],[1],[1],[2],...,-1,-1,-1,"[0-19, 20-39]",[50-99],Summer,"[Beach, Adventure, Nature, Cuisine]","[Urban, Sea, Lake]",Balanced,Balanced
1,89b7022ab8f011ec9a19fefb5d5b7ead,"[0, 1]",[3],[2],"[0, 3, 4, 5, 6, 7]","[0, 1, 2, 4]",[1],[1],[1],[1],...,-1,-1,-1,"[0-19, 20-39]",[300+],Summer,"[Beach, Culture, Nightlife, History, Shopping,...","[Urban, Rural, Sea, Lake]",Balanced,Balanced
2,c64f6c36b8f011ec9a19fefb5d5b7ead,[1],[1],[2],"[0, 1, 3, 4, 7]","[0, 2, 4, 7]",[1],[1],[1],[0],...,-1,-1,-1,[20-39],[50-99],Summer,"[Beach, Adventure, Culture, Nightlife, Cuisine]","[Urban, Sea, Lake, Jungle]",Balanced,Balanced
3,1eb6079ab8f111ec9a19fefb5d5b7ead,[1],[1],[2],[7],[4],[1],[2],[1],[1],...,-1,-1,-1,[20-39],[50-99],Summer,[Cuisine],[Lake],Balanced,Ready for Anything
4,285e9852b8f111ec9a19fefb5d5b7ead,[1],[0],[1],[2],"[2, 3, 4]",[0],[1],[0],[0],...,-1,-1,-1,[20-39],[0-49],Spring,[Nature],"[Sea, Mountain, Lake]",Chill & Relaxed,Balanced

In [11]:
def map_popularity(lst):
    if not isinstance(lst, list):
        return np.nan

    popularity = ''

    for item in lst:
        if item == '0':
            popularity = 'Off the Beaten Path'
        elif item == '1':
            popularity = 'Classic Spot'
        elif item == '2':
            popularity = 'Mainstream & Trendy'

    return popularity

df['popularity'] = df['form_j'].apply(map_popularity)
df.head()

,id,form_a,form_b,form_c,form_f,form_g,form_h,form_i,form_j,form_k,...,Rec_8,Rec_9,age_ranges,budget_ranges,season,interests,sceneries,activity_level,safety_conscious,popularity
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"[0, 1]",[1],[2],"[0, 1, 2, 7]","[0, 2, 4]",[1],[1],[1],[2],...,-1,-1,"[0-19, 20-39]",[50-99],Summer,"[Beach, Adventure, Nature, Cuisine]","[Urban, Sea, Lake]",Balanced,Balanced,Classic Spot
1,89b7022ab8f011ec9a19fefb5d5b7ead,"[0, 1]",[3],[2],"[0, 3, 4, 5, 6, 7]","[0, 1, 2, 4]",[1],[1],[1],[1],...,-1,-1,"[0-19, 20-39]",[300+],Summer,"[Beach, Culture, Nightlife, History, Shopping,...","[Urban, Rural, Sea, Lake]",Balanced,Balanced,Classic Spot
2,c64f6c36b8f011ec9a19fefb5d5b7ead,[1],[1],[2],"[0, 1, 3, 4, 7]","[0, 2, 4, 7]",[1],[1],[1],[0],...,-1,-1,[20-39],[50-99],Summer,"[Beach, Adventure, Culture, Nightlife, Cuisine]","[Urban, Sea, Lake, Jungle]",Balanced,Balanced,Classic Spot
3,1eb6079ab8f111ec9a19fefb5d5b7ead,[1],[1],[2],[7],[4],[1],[2],[1],[1],...,-1,-1,[20-39],[50-99],Summer,[Cuisine],[Lake],Balanced,Ready for Anything,Classic Spot
4,285e9852b8f111ec9a19fefb5d5b7ead,[1],[0],[1],[2],"[2, 3, 4]",[0],[1],[0],[0],...,-1,-1,[20-39],[0-49],Spring,[Nature],"[Sea, Mountain, Lake]",Chill & Relaxed,Balanced,Off the Beaten Path

In [12]:
def map_where(lst):
    if not isinstance(lst, list):
        return np.nan

    where = ''

    for item in lst:
        if item == '0':
            where = 'Anywhere'
        elif item == '1':
            where = 'Specific Regions'

    return where

df['where_to_go'] = df['form_r'].apply(map_where)
df.head()

,id,form_a,form_b,form_c,form_f,form_g,form_h,form_i,form_j,form_k,...,Rec_9,age_ranges,budget_ranges,season,interests,sceneries,activity_level,safety_conscious,popularity,where_to_go
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"[0, 1]",[1],[2],"[0, 1, 2, 7]","[0, 2, 4]",[1],[1],[1],[2],...,-1,"[0-19, 20-39]",[50-99],Summer,"[Beach, Adventure, Nature, Cuisine]","[Urban, Sea, Lake]",Balanced,Balanced,Classic Spot,NaN
1,89b7022ab8f011ec9a19fefb5d5b7ead,"[0, 1]",[3],[2],"[0, 3, 4, 5, 6, 7]","[0, 1, 2, 4]",[1],[1],[1],[1],...,-1,"[0-19, 20-39]",[300+],Summer,"[Beach, Culture, Nightlife, History, Shopping,...","[Urban, Rural, Sea, Lake]",Balanced,Balanced,Classic Spot,NaN
2,c64f6c36b8f011ec9a19fefb5d5b7ead,[1],[1],[2],"[0, 1, 3, 4, 7]","[0, 2, 4, 7]",[1],[1],[1],[0],...,-1,[20-39],[50-99],Summer,"[Beach, Adventure, Culture, Nightlife, Cuisine]","[Urban, Sea, Lake, Jungle]",Balanced,Balanced,Classic Spot,NaN
3,1eb6079ab8f111ec9a19fefb5d5b7ead,[1],[1],[2],[7],[4],[1],[2],[1],[1],...,-1,[20-39],[50-99],Summer,[Cuisine],[Lake],Balanced,Ready for Anything,Classic Spot,NaN
4,285e9852b8f111ec9a19fefb5d5b7ead,[1],[0],[1],[2],"[2, 3, 4]",[0],[1],[0],[0],...,-1,[20-39],[0-49],Spring,[Nature],"[Sea, Mountain, Lake]",Chill & Relaxed,Balanced,Off the Beaten Path,NaN

In [13]:
def map_where_exactly(lst):
    if not isinstance(lst, list):
        return np.nan

    where = ''

    for item in lst:
        if item == 'e':
            where = 'Europe'
        elif item == 'n':
            where = 'N. America'
        elif item == 'c':
            where = 'Caribbean'
        elif item == 'a':
            where = 'Asia'
        elif item == 's':
            where = 'S. America'
        elif item == 'm':
            where = 'Mid. East'
        elif item == 'f':
            where = 'Africa'
        elif item == 'o':
            where = 'Oceania'

    return where

df['where_to_go_exactly'] = df['form_rr'].apply(map_where_exactly)
df.head()

,id,form_a,form_b,form_c,form_f,form_g,form_h,form_i,form_j,form_k,...,age_ranges,budget_ranges,season,interests,sceneries,activity_level,safety_conscious,popularity,where_to_go,where_to_go_exactly
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"[0, 1]",[1],[2],"[0, 1, 2, 7]","[0, 2, 4]",[1],[1],[1],[2],...,"[0-19, 20-39]",[50-99],Summer,"[Beach, Adventure, Nature, Cuisine]","[Urban, Sea, Lake]",Balanced,Balanced,Classic Spot,NaN,NaN
1,89b7022ab8f011ec9a19fefb5d5b7ead,"[0, 1]",[3],[2],"[0, 3, 4, 5, 6, 7]","[0, 1, 2, 4]",[1],[1],[1],[1],...,"[0-19, 20-39]",[300+],Summer,"[Beach, Culture, Nightlife, History, Shopping,...","[Urban, Rural, Sea, Lake]",Balanced,Balanced,Classic Spot,NaN,NaN
2,c64f6c36b8f011ec9a19fefb5d5b7ead,[1],[1],[2],"[0, 1, 3, 4, 7]","[0, 2, 4, 7]",[1],[1],[1],[0],...,[20-39],[50-99],Summer,"[Beach, Adventure, Culture, Nightlife, Cuisine]","[Urban, Sea, Lake, Jungle]",Balanced,Balanced,Classic Spot,NaN,NaN
3,1eb6079ab8f111ec9a19fefb5d5b7ead,[1],[1],[2],[7],[4],[1],[2],[1],[1],...,[20-39],[50-99],Summer,[Cuisine],[Lake],Balanced,Ready for Anything,Classic Spot,NaN,NaN
4,285e9852b8f111ec9a19fefb5d5b7ead,[1],[0],[1],[2],"[2, 3, 4]",[0],[1],[0],[0],...,[20-39],[0-49],Spring,[Nature],"[Sea, Mountain, Lake]",Chill & Relaxed,Balanced,Off the Beaten Path,NaN,NaN

In [14]:
df.drop(columns=columns, inplace=True)
df

,id,yes_swipes,no_swipes,maybe_swipes,Model,Retrieval,DynaMatch,Rating_0,Rating_1,Rating_2,...,age_ranges,budget_ranges,season,interests,sceneries,activity_level,safety_conscious,popularity,where_to_go,where_to_go_exactly
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"[837, 779, 1315, 773, 621, 799, 794, 172, 190]","[1256, 855, 1259, 551, 55, 257, 648, 234, 209,...",[],-1,-1,-1,-1.0,-1.0,-1.0,...,"[0-19, 20-39]",[50-99],Summer,"[Beach, Adventure, Nature, Cuisine]","[Urban, Sea, Lake]",Balanced,Balanced,Classic Spot,NaN,NaN
1,89b7022ab8f011ec9a19fefb5d5b7ead,"[246, 579]","[126, 945, 865, 330, 1237, 1264, 824, 87]",[],-1,-1,-1,-1.0,-1.0,-1.0,...,"[0-19, 20-39]",[300+],Summer,"[Beach, Culture, Nightlife, History, Shopping,...","[Urban, Rural, Sea, Lake]",Balanced,Balanced,Classic Spot,NaN,NaN
2,c64f6c36b8f011ec9a19fefb5d5b7ead,"[526, 661, 1054]","[1129, 933, 1030, 1009, 1362, 1130]",[715],-1,-1,-1,-1.0,-1.0,-1.0,...,[20-39],[50-99],Summer,"[Beach, Adventure, Culture, Nightlife, Cuisine]","[Urban, Sea, Lake, Jungle]",Balanced,Balanced,Classic Spot,NaN,NaN
3,1eb6079ab8f111ec9a19fefb5d5b7ead,"[305, 216, 142, 435, 65, 1202, 853]","[24, 1396, 1375]",[],-1,-1,-1,-1.0,-1.0,-1.0,...,[20-39],[50-99],Summer,[Cuisine],[Lake],Balanced,Ready for Anything,Classic Spot,NaN,NaN
4,285e9852b8f111ec9a19fefb5d5b7ead,"[1197, 359, 1428, 725, 1115, 42]","[1407, 305, 150, 442]",[],-1,-1,-1,-1.0,-1.0,-1.0,...,[20-39],[0-49],Spring,[Nature],"[Sea, Mountain, Lake]",Chill & Relaxed,Balanced,Off the Beaten Path,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80296,61b5e56ed28211edadc00e96bc2eb5a0,[],"[529, 103, 432, 656, 587, 401, 1482, 1481, 338...",[],4,0,0,0.0,0.0,0.0,...,"[0-19, 20-39, 40-59, 60+]","[0-49, 50-99, 100-249, 300+]",Spring,[Cuisine],"[Urban, Sea, Mountain, Jungle]",Balanced,Balanced,Mainstream & Trendy,Anywhere,NaN
80297,259dade6d28211edb561563501293886,"[474, 1481, 656, 1253, 1350, 49, 88, 1394]","[163, 418]",[],2,1,0,0.0,0.0,0.0,...,"[0-19, 20-39, 40-59, 60+]","[0-49, 50-99, 100-249, 300+]",Winter,"[Adventure, Nature, Nightlife]","[Rural, Mountain, Lake]",Balanced,Balanced,Mainstream & Trendy,Specific Regions,Asia
80298,53a67fecd28211ed8ef3560e516905ce,"[1481, 356, 1482, 207, 458]","[186, 732, 541, 656, 439]",[],3,0,0,0.0,0.0,0.0,...,"[0-19, 20-39, 40-59, 60+]","[0-49, 50-99, 100-249, 300+]",Winter,"[Beach, Adventure, Nature]","[Rural, Sea]",Active,Ready for Anything,Mainstream & Trendy,Specific Regions,Oceania
80299,5e9fea64d28211ed8ef3560e516905ce,[],[],[],1,0,0,NaN,NaN,NaN,...,"[0-19, 20-39, 40-59, 60+]","[0-49, 50-99, 100-249, 300+]",Summer,"[Culture, History, Shopping, Cuisine]","[Urban, Mountain, Desert]",Balanced,Balanced,Mainstream & Trendy,Specific Regions,N. America
80300,7315bb72d28211ed8ef3560e516905ce,[],[],[],3,1,1,NaN,NaN,NaN,...,"[0-19, 20-39, 40-59, 60+]","[0-49, 50-99, 100-249, 300+]",Spring,[Beach],[Sea],Balanced,Balanced,Mainstream & Trendy,Specific Regions,N. America

In [15]:
destinations_file = open("destination_ids.txt", "r")
destinations = destinations_file.read().split("\n")
destinations

['Butrint, Albania',
 'Tirana, Albania',
 'Algiers, Algeria',
 'Oran, Algeria',
 'Andorra la Vella, Andorra',
 'Jolly Harbour, Antigua and Barbuda',
 "St John's, Antigua and Barbuda",
 'Buenos Aires, Argentina',
 'Córdoba, Argentina',
 'Mar del Plata, Argentina',
 'Mendoza, Argentina',
 'Puerto Iguazu, Argentina',
 'Puerto Madryn, Argentina',
 'Salta, Argentina',
 'San Carlos de Bariloche, Argentina',
 'San Martin de los Andes, Argentina',
 'San Miguel de Tucuman, Argentina',
 'Ushuaia, Argentina',
 'Villa Gesell, Argentina',
 'Garni, Armenia',
 'Sevan, Armenia',
 'Yerevan, Armenia',
 'Adelaide, Australia',
 'Alice Springs, Australia',
 'Brisbane, Australia',
 'Broome, Australia',
 'Byron Bay, Australia',
 'Cairns, Australia',
 'Canberra, Australia',
 'Darwin, Australia',
 'Geelong, Australia',
 'Hobart, Australia',
 'Launceston, Australia',
 'Melbourne, Australia',
 'Newcastle, Australia',
 'Perth, Australia',
 'Sydney, Australia',
 'Bad Gastein, Austria',
 'Bregenz, Austria',
 'Graz, Austria',
 'Hallstatt, Austria',
 'Innsbruck, Austria',
 'Ischgl, Austria',
 'Kaprun, Austria',
 'Klagenfurt, Austria',
 'Obertauern, Austria',
 'Salzburg, Austria',
 'Schladming, Austria',
 'Vienna, Austria',
 'Weißenkirchen in der Wachau, Austria',
 'Zell am See, Austria',
 'Zillertal, Austria',
 'Baku, Azerbaijan',
 'Freeport, Bahamas',
 'Harbour Island, Bahamas',
 'Nassau, Bahamas',
 'Manama, Bahrain',
 'Bridgetown, Barbados',
 'Brest, Belarus',
 'Gomel, Belarus',
 'Grodno, Belarus',
 'Minsk, Belarus',
 'Vitebsk, Belarus',
 'Antwerpen, Belgium',
 'Ardennes, Belgium',
 'Bruges, Belgium',
 'Brussels, Belgium',
 'Dinant, Belgium',
 'Ghent, Belgium',
 'Leuven, Belgium',
 'Liège, Belgium',
 'Mechelen, Belgium',
 'Mons, Belgium',
 'Ostend, Belgium',
 'Belize City, Belize',
 'Caye Caulker, Belize',
 'Hopkins, Belize',
 'Placencia, Belize',
 'San Ignacio, Belize',
 'San Pedro, Belize',
 'Cochabamba, Bolivia',
 'Copacabana, Bolivia',
 'La Paz, Bolivia',
 'Potosí, Bolivia',
 'Santa Cruz, Bolivia',
 'Sucre, Bolivia',
 'Uyuni, Bolivia',
 'Banja Luka, Bosnia and Herzegovina',
 'Jahorina, Bosnia and Herzegovina',
 'Mostar, Bosnia and Herzegovina',
 'Neum, Bosnia and Herzegovina',
 'Sarajevo, Bosnia and Herzegovina',
 'Trebinje, Bosnia and Herzegovina',
 'Višegrad, Bosnia and Herzegovina',
 'Gaborone, Botswana',
 'Armacao dos Buzios, Brazil',
 'Barra Grande, Brazil',
 'Belem, Brazil',
 'Belo Horizonte, Brazil',
 'Bombas, Brazil',
 'Brasilia, Brazil',
 'Campos Do Jordao, Brazil',
 'Florianópolis, Brazil',
 'Fortaleza, Brazil',
 'Foz do Iguaçu, Brazil',
 'Gramado, Brazil',
 'Ilhabela, Brazil',
 'Manaus, Brazil',
 'Ouro Preto, Brazil',
 'Paraty, Brazil',
 'Recife, Brazil',
 'Rio De Janeiro, Brazil',
 'Salvador, Brazil',
 'Santos, Brazil',
 'Sao Paulo, Brazil',
 'Trancoso, Brazil',
 'Bandar Seri Begawan, Brunei',
 'Bansko, Bulgaria',
 'Plovdiv, Bulgaria',
 'Sofia, Bulgaria',
 'Varna, Bulgaria',
 'Banff, Canada',
 'Calgary, Canada',
 'Edmonton, Canada',
 'Halifax, Canada',
 'Mont-Tremblant, Canada',
 'Montreal, Canada',
 'Ottawa, Canada',
 'Quebec City, Canada',
 'Regina, Canada',
 "St. John's, Canada",
 'Toronto, Canada',
 'Vancouver, Canada',
 'Victoria, Canada',
 'Whistler, Canada',
 'Whitehorse, Canada',
 'Winnipeg, Canada',
 'Praia, Cape Verde',
 'Arica, Chile',
 'Coyhaique, Chile',
 'La Serena, Chile',
 'Pucon, Chile',
 'Puerto Natales, Chile',
 'Puerto Varas, Chile',
 'Punta Arenas, Chile',
 'San Pedro de Atacama, Chile',
 'Santiago, Chile',
 'Temuco, Chile',
 'Valparaiso, Chile',
 'Lhasa, Tibet, China',
 'Beijing, China',
 'Chengdu, China',
 'Guangzhou, China',
 'Guilin, China',
 'Hangzhou, China',
 'Hong Kong, China',
 'Huangshan, China',
 'Leshan, China',
 'Lijiang, China',
 'Macau, China',
 'Qingdao, China',
 'Qinhuangdao, China',
 'Shanghai, China',
 'Suzhou, China',
 "Xi'an, China",
 'Xiamen, China',
 'Yangshuo, China',
 'Zhangjiajie, China',
 'Bogota, Colombia',
 'Cartagena, Colombia',
 'Guadalupe, Colombia',
 'Guatape, Colombia',
 'Popayan, Colombia',
 'Raquira, Colombia',
 'San Andres, Colombia',
 'Santa Marta, Colombia',
 'Jaco, Costa Rica',
 'Manuel Antonio, Costa Rica',
 'Puerto Viejo de Talamanca, Costa Rica',
 'San Jose, Costa Rica',
 'Tamarindo, Costa Rica',
 'Bol, Croatia',
 'Dubrovnik, Croatia',
 'Hvar, Croatia',
 'Korčula, Croatia',
 'Omiš, Croatia',
 'Pula, Croatia',
 'Rovinj, Croatia',
 'Šibenik, Croatia',
 'Split, Croatia',
 'Supetar, Croatia',
 'Trogir, Croatia',
 'Vis, Croatia',
 'Zadar, Croatia',
 'Zagreb, Croatia',
 'Cienfuegos, Cuba',
 'Havana, Cuba',
 'Holguin, Cuba',
 'Santa Clara, Cuba',
 'Santiago de Cuba, Cuba',
 'Trinidad, Cuba',
 'Varadero, Cuba',
 'Vinales, Cuba',
 'Famagusta, Cyprus',
 'Larnaca, Cyprus',
 'Limassol, Cyprus',
 'Nicosia, Cyprus',
 'Paphos, Cyprus',
 'Brno, Czech Republic',
 'Český Krumlov, Czech Republic',
 'Karlovy Vary, Czech Republic',
 'Kutná Hora, Czech Republic',
 'Prague, Czech Republic',
 'Aalborg, Denmark',
 'Århus, Denmark',
 'Billund, Denmark',
 'Copenhagen, Denmark',
 'Elsinore, Denmark',
 'Helsingør, Denmark',
 'Ribe, Denmark',
 'Roskilde, Denmark',
 'Skagen, Denmark',
 'Portsmouth, Dominica',
 'Roseau, Dominica',
 'Bavaro, Dominican Republic',
 'La Romana, Dominican Republic',
 'Las Terrenas, Dominican Republic',
 'Puerto Plata, Dominican Republic',
 'Punta Cana, Dominican Republic',
 'Santo Domingo, Dominican Republic',
 'Banos, Ecuador',
 'Cuenca, Ecuador',
 'Guayaquil, Ecuador',
 'Mindo, Ecuador',
 'Montañita, Ecuador',
 'Puerto Ayora, Ecuador',
 'Quito, Ecuador',
 'Abu Simbel, Egypt',
 'Alexandria, Egypt',
 'Aswan, Egypt',
 'Cairo, Egypt',
 'Dahab, Egypt',
 'Dahshur, Egypt',
 'Edfu, Egypt',
 'Hurghada, Egypt',
 'Kom Ombo, Egypt',
 'Luxor, Egypt',
 'Marsa Alam, Egypt',
 'Port Said, Egypt',
 'Saint Catherine, Egypt',
 'Sharm El-Sheikh, Egypt',
 'Siwa Oasis, Egypt',
 'Suez, Egypt',
 'Taba, Egypt',
 'Chalchuapa, El Salvador',
 'San Salvador, El Salvador',
 'Haapsalu, Estonia',
 'Tallinn, Estonia',
 'Tartu, Estonia',
 'Addis Ababa, Ethiopia',
 'Nadi, Fiji',
 'Savusavu, Fiji',
 'Suva, Fiji',
 'Kemi, Lapland, Finland',
 'Levi, Lapland, Finland',
 'Rovaniemi, Lapland, Finland',
 'Saariselkä, Lapland, Finland',
 'Helsinki, Finland',
 'Porvoo, Finland',
 'Savonlinna, Finland',
 'Turku, Finland',
 'Ajaccio, Corsica, France',
 'Bastia, Corsica, France',
 'Bonifacio, Corsica, France',
 'Calvi, Corsica, France',
 'Porto-Vecchio, Corsica, France',
 'Maharepa, French Polynesia, France',
 'Papeete, French Polynesia, France',
 'Vaitape, French Polynesia, France',
 'Aix-en-Provence, France',
 'Angers, France',
 'Antibes, France',
 'Arles, France',
 'Avignon, France',
 'Beausoleil, France',
 'Bordeaux, France',
 'Calais, France',
 'Cannes, France',
 'Chamonix-Mont-Blanc, France',
 'Colmar, France',
 'Dijon, France',
 'Honfleur, France',
 'Le Mont-Saint-Michel, France',
 'Lille, France',
 'Lyon, France',
 'Marseille, France',
 'Montpellier, France',
 'Nantes, France',
 'Nice, France',
 'Orléans, France',
 'Paris, France',
 'Perigueux, France',
 'Rouen, France',
 'Saignon, France',
 'Saint-Tropez, France',
 'Versailles, France',
 'Batumi, Georgia',
 'Sighnaghi, Georgia',
 'Tbilisi, Georgia',
 'Aachen, Germany',
 'Augsburg, Germany',
 'Bamberg, Germany',
 'Berchtesgaden, Germany',
 'Berlin, Germany',
 'Bonn, Germany',
 'Bremen, Germany',
 'Cologne, Germany',
 'Dortmund, Germany',
 'Dresden, Germany',
 'Düsseldorf, Germany',
 'Frankfurt am Main, Germany',
 'Freiburg, Germany',
 'Füssen, Germany',
 'Garmisch-Partenkirchen, Germany',
 'Hamburg, Germany',
 'Hannover, Germany',
 'Heidelberg, Germany',
 'Kiel, Germany',
 'Leipzig, Germany',
 'Lübeck, Germany',
 'Mainz, Germany',
 'Mannheim, Germany',
 'Munich, Germany',
 'Münster, Germany',
 'Nuremberg, Germany',
 'Passau, Germany',
 'Potsdam, Germany',
 'Regensburg, Germany',
 'Rostock, Germany',
 'Rüdesheim am Rhein, Germany',
 'Stuttgart, Germany',
 'Trier, Germany',
 'Würzburg, Germany',
 'Chania, Crete, Greece',
 'Heraklion, Crete, Greece',
 'Sitia, Crete, Greece',
 'Aegina, Greece',
 'Athens, Greece',
 'Cephalonia, Greece',
 'Corfu, Greece',
 'Corinth, Greece',
 'Delphi, Greece',
 'Kastoria, Greece',
 'Kavala, Greece',
 'Kos, Greece',
 'Lefkada, Greece',
 'Milos, Greece',
 'Mykonos, Greece',
 'Nafplion, Greece',
 'Naxos, Greece',
 'Olympia, Greece',
 'Paros, Greece',
 'Rhodes, Greece',
 'Skiathos, Greece',
 'Thasos, Greece',
 'Thessaloniki, Greece',
 'Zagori, Greece',
 'Zakynthos, Greece',
 'Nuuk, Greenland (Denmark)',
 'Qaqortoq, Greenland (Denmark)',
 "St. George's, Grenada",
 'Guatemala City, Guatemala',
 'Tikal, Guatemala',
 'Georgetown, Guyana',
 'Comayagua, Honduras',
 'Tegucigalpa, Honduras',
 'West Bay, Honduras',
 'Budapest, Hungary',
 'Eger, Hungary',
 'Győr, Hungary',
 'Pécs, Hungary',
 'Sopron, Hungary',
 'Szentendre, Hungary',
 'Akureyri, Iceland',
 'Höfn, Iceland',
 'Jökulsárlón, Iceland',
 'Keflavik, Iceland',
 'Reykjavik, Iceland',
 'Selfoss, Iceland',
 'Vík í Mýrdal, Iceland',
 'Agra, India',
 'Ajanta, India',
 'Amritsar, India',
 'Bengaluru, India',
 'Chennai, India',
 'Hyderabad, India',
 'Jaipur, India',
 'Kolkata, India',
 'Mumbai, India',
 'Mysore, India',
 'New Delhi, India',
 'Panaji, India',
 'Varanasi, India',
 'Gili Trawangan, Indonesia',
 'Jakarta, Indonesia',
 'Kuta, Indonesia',
 'Ubud, Indonesia',
 'Yogyakarta, Indonesia',
 'Cashel, Ireland',
 'Cork, Ireland',
 'Dingle, Ireland',
 'Dublin, Ireland',
 'Gaillimh, Ireland',
 'Kilkenny, Ireland',
 'Killarney, Ireland',
 'Liscannor, Ireland',
 'Shannon, Ireland',
 'Caesarea, Israel',
 'Eilat, Israel',
 'Ein Gedi, Israel',
 'Haifa, Israel',
 'Nazareth, Israel',
 'Neve Zohar, Israel',
 'Tel Aviv, Israel',
 'Tiberias, Israel',
 'Alghero, Sardinia, Italy',
 'Cagliari, Sardinia, Italy',
 'Olbia, Sardinia, Italy',
 'Agrigento, Sicily, Italy',
 'Catania, Sicily, Italy',
 'Palermo, Sicily, Italy',
 'Syracuse, Sicily, Italy',
 'Taormina, Sicily, Italy',
 'Amalfi, Italy',
 'Arezzo, Italy',
 'Brindisi, Italy',
 'Capri, Italy',
 'Florence, Italy',
 'Genoa, Italy',
 'La Spezia, Italy',
 'Lipari, Italy',
 'Lucca, Italy',
 'Milan, Italy',
 'Montepulciano, Italy',
 'Naples, Italy',
 'Perugia, Italy',
 'Pescara, Italy',
 'Pisa, Italy',
 'Pompei, Italy',
 'Portoferraio, Italy',
 'Puglia, Italy',
 'Riomaggiore, Italy',
 'Rome, Italy',
 'Salerno, Italy',
 'Sperlonga, Italy',
 'Trieste, Italy',
 'Turin, Italy',
 'Udine, Italy',
 'Venice, Italy',
 'Vernazza, Italy',
 'Verona, Italy',
 'Falmouth, Jamaica',
 'Kingston, Jamaica',
 'Lucea, Jamaica',
 'Montego Bay, Jamaica',
 'Negril, Jamaica',
 'Ocho Rios, Jamaica',
 'Port Antonio, Jamaica',
 'Runaway Bay, Jamaica',
 'Hakuba, Japan',
 'Hiroshima, Japan',
 'Kyoto, Japan',
 'Nagoya, Japan',
 'Nikko, Japan',
 'Osaka, Japan',
 'Sapporo, Japan',
 'Takayama, Japan',
 'Tokyo, Japan',
 'Yokohama, Japan',
 'Amman, Jordan',
 'Aqaba, Jordan',
 'Petra, Jordan',
 'Almaty, Kazakhstan',
 'Mombasa, Kenya',
 'Nairobi, Kenya',
 'Kuwait City, Kuwait',
 'Bishkek, Kyrgyzstan',
 'Luang Prabang, Laos',
 'Vangviang, Laos',
 'Vientiane, Laos',
 'Jaunmārupe, Latvia',
 'Jurmala, Latvia',
 'Riga, Latvia',
 'Skulte, Latvia',
 'Vecrīga, Latvia',
 'Baalbek, Lebanon',
 'Beirut, Lebanon',
 'Byblos, Lebanon',
 'Tyre, Lebanon',
 'Vaduz, Liechtenstein',
 'Kaunas, Lithuania',
 'Kernave, Lithuania',
 'Klaipeda, Lithuania',
 'Neringa, Lithuania',
 'Palanga, Lithuania',
 'Vilnius, Lithuania',
 'Luxembourg, Luxembourg',
 'Antananarivo , Madagascar',
 'George Town, Malaysia',
 'Kuala Lumpur, Malaysia',
 'Langkawi, Malaysia',
 'Malacca, Malaysia',
 'Penang, Malaysia',
 'Male, Maldives',
 'Rabat, Malta',
 'Valletta, Malta',
 'Majuro, Marshall Islands',
 'Port Louis, Mauritius',
 'Acapulco, Mexico',
 'Akumal, Mexico',
 'Cabo San Lucas, Mexico',
 'Cancun, Mexico',
 'Chichén-Itzá, Mexico',
 'Guadalajara, Mexico',
 'Izamal, Mexico',
 'Mérida, Mexico',
 'Mexico City, Mexico',
 'Monterrey, Mexico',
 'Oaxaca, Mexico',
 'Playa del Carmen, Mexico',
 'Puebla, Mexico',
 'Puerto Morelos, Mexico',
 'Puerto Vallarta, Mexico',
 'San Jose del Cabo, Mexico',
 'San Juan Teotihuacan, Mexico',
 'San Miguel de Allende, Mexico',
 'San Miguel de Cozumel, Mexico',
 'Tijuana, Mexico',
 'Tulum, Mexico',
 'Palikir, Micronesia',
 'Chisinau, Moldova',
 'Monaco, Monaco',
 'Budva, Montenegro',
 'Herceg-Novi, Montenegro',
 'Kotor, Montenegro',
 'Podgorica, Montenegro',
 'Tivat, Montenegro',
 'Agadir, Morocco',
 'Aït Ben Haddou, Morocco',
 'Casablanca, Morocco',
 'Chefchaouene, Morocco',
 'Essaouira, Morocco',
 'Fès, Morocco',
 'Marrakesh, Morocco',
 'Meknès, Morocco',
 'Ouarzazat, Morocco',
 'Rabat, Morocco',
 'Tangier, Morocco',
 'Maputo, Mozambique',
 'Mandalay, Myanmar',
 'Ngapali , Myanmar',
 'Yangon, Myanmar',
 'Swakopmund, Namibia',
 'Windhoek, Namibia',
 'Yaren, Nauru',
 'Kathmandu, Nepal',
 'Pokhara, Nepal',
 'Alkmaar, Netherlands',
 'Amsterdam, Netherlands',
 'Delft, Netherlands',
 'Eindhoven, Netherlands',
 'Giethoorn, Netherlands',
 'Gouda, Netherlands',
 'Groningen, Netherlands',
 'Haarlem, Netherlands',
 'Leiden, Netherlands',
 'Maastricht, Netherlands',
 'Rotterdam, Netherlands',
 'The Hague, Netherlands',
 'Utrecht, Netherlands',
 'Auckland, New Zealand',
 'Christchurch, New Zealand',
 'Hamilton, New Zealand',
 'Napier, New Zealand',
 'Nelson, New Zealand',
 'Paihia, New Zealand',
 'Queenstown, New Zealand',
 'Rotorua, New Zealand',
 'Wellington, New Zealand',
 'Whangarei, New Zealand',
 'Granada, Nicaragua',
 'Leon, Nicaragua',
 'Managua, Nicaragua',
 'Masaya, Nicaragua',
 'San Juan del Sur, Nicaragua',
 'Ålesund, Norway',
 'Bergen, Norway',
 'Bodø, Norway',
 'Geiranger, Norway',
 'Kristiansand, Norway',
 'Narvik, Norway',
 'Oslo, Norway',
 'Stavanger, Norway',
 'Tromsø, Norway',
 'Trondheim, Norway',
 'Muscat, Oman',
 'Şalālah, Oman',
 'Koror, Palau',
 'Bethlehem, Palestine',
 'Bocas del Toro, Panama',
 'Boquete, Panama',
 'El Valle de Anton, Panama',
 'Isla Bastimentos, Panama',
 'Panama City, Panama',
 'Santa Catalina, Panama',
 'Alotau, Papua New Guinea',
 'Madang, Papua New Guinea',
 'Mount Hagen, Papua New Guinea',
 'Port Moresby, Papua New Guinea',
 'Rabaul, Papua New Guinea',
 'Asuncion, Paraguay',
 'Encarnacion, Paraguay',
 'Aguas Calientes, Peru',
 'Arequipa, Peru',
 'Cusco, Peru',
 'Huancayo, Peru',
 'Huaraz, Peru',
 'Ica, Peru',
 'Lima, Peru',
 'Mancora, Peru',
 'Ollantaytambo, Peru',
 'Paracas, Peru',
 'Puno, Peru',
 'Tarapoto, Peru',
 'Trujillo, Peru',
 'Bantayan, Philippines',
 'Cebu City, Philippines',
 'Coron, Philippines',
 'Manila, Philippines',
 'Gdansk, Poland',
 'Gdynia, Poland',
 'Katowice, Poland',
 'Krakow, Poland',
 'Łódź, Poland',
 'Oświęcim, Poland',
 'Poznań, Poland',
 'Sopot, Poland',
 'Szczecin, Poland',
 'Warsaw, Poland',
 'Wola, Poland',
 'Wrocław, Poland',
 'Zakopane, Poland',
 'Zamość, Poland',
 'Funchal, Madeira, Portugal',
 'Santana, Madeira, Portugal',
 'Albufeira, Portugal',
 'Belém, Portugal',
 'Bragança, Portugal',
 'Cascais, Portugal',
 'Coimbra, Portugal',
 'Evora, Portugal',
 'Faro, Portugal',
 'Lagos, Portugal',
 'Lisbon, Portugal',
 'Porto, Portugal',
 'Sintra, Portugal',
 'Doha, Qatar',
 'Braşov, Romania',
 'Bucharest, Romania',
 'Cluj-Napoca, Romania',
 'Constanţa, Romania',
 'Oradea, Romania',
 'Sibiu, Romania',
 'Sighișoara, Romania',
 'Sinaia, Romania',
 'Timișoara, Romania',
 'Irkutsk, Russia',
 'Kaliningrad, Russia',
 'Kazan, Russia',
 'Moscow, Russia',
 'Nizhny Novgorod, Russia',
 'Saint Petersburg, Russia',
 'Sochi, Russia',
 'Veliky Novgorod, Russia',
 'Vladivostok, Russia',
 'Yekaterinburg, Russia',
 'Apia, Samoa',
 "Si'umu, Samoa",
 'San Marino, San Marino',
 'São Tomé, Sao Tome and Principe',
 'Dammam, Saudi Arabia',
 'Jeddah, Saudi Arabia',
 'Mecca, Saudi Arabia',
 'Medina, Saudi Arabia',
 'Riyadh, Saudi Arabia',
 'Dakar, Senegal',
 'Belgrade, Serbia',
 'Kopaonik, Serbia',
 'Niš, Serbia',
 'Novi Sad, Serbia',
 'Stari Grad, Serbia',
 'Subotica, Serbia',
 'Zlatibor, Serbia',
 'Victoria, Seychelles',
 'Singapore, Singapore',
 'Bratislava, Slovakia',
 'Košice, Slovakia',
 'Poprad, Slovakia',
 'Bled, Slovenia',
 'Bovec, Slovenia',
 'Koper, Slovenia',
 'Ljubljana, Slovenia',
 'Maribor, Slovenia',
 'Novo Mesto, Slovenia',
 'Piran, Slovenia',
 'Postojna, Slovenia',
 'Honiara, Solomon Islands',
 'Cape Town, South Africa',
 'Durban, South Africa',
 'Johannesburg, South Africa',
 'Port Elizabeth, South Africa',
 'Pretoria, South Africa',
 'Andong, South Korea',
 'Busan, South Korea',
 'Chuncheon, South Korea',
 'Jeonju, South Korea',
 'Seoul, South Korea',
 'Palma, Balearic Islands, Spain',
 'Las Palmas de Gran Canaria, Canary Islands, Spain',
 'Santa Cruz de Tenerife, Tenerife, Spain',
 'Alicante, Spain',
 'Almeria, Spain',
 'Barcelona, Spain',
 'Begur, Spain',
 'Benidorm, Spain',
 'Bilbao, Spain',
 'Burgos, Spain',
 'Cadaques, Spain',
 'Cadiz, Spain',
 'Cartagena, Spain',
 'Córdoba, Spain',
 'Figueres, Spain',
 'Girona, Spain',
 'Granada, Spain',
 'Ibiza, Spain',
 'Madrid, Spain',
 'Malaga, Spain',
 'Pamplona, Spain',
 'Ronda, Spain',
 'Salamanca, Spain',
 'Sant Joan Despí, Spain',
 'Santiago de Compostela, Spain',
 'Segovia, Spain',
 'Sevilla, Spain',
 'Sitges, Spain',
 'Toledo, Spain',
 'Valencia, Spain',
 'Valladolid, Spain',
 'Vigo, Spain',
 'Zaragoza, Spain',
 'Colombo, Sri Lanka',
 'Galle, Sri Lanka',
 'Kandy, Sri Lanka',
 'Basseterre, St. Kitts and Nevis',
 'Charlestown, St. Kitts and Nevis',
 'Castries, St. Lucia',
 'Kingstown, St. Vincent and the Grenadines',
 'Paramaribo, Suriname',
 'Göteborg, Sweden',
 'Gothenburg, Sweden',
 'Kiruna, Sweden',
 'Luleå, Sweden',
 'Malmö, Sweden',
 'Stockholm, Sweden',
 'Uppsala, Sweden',
 'Visby, Sweden',
 'Basel, Switzerland',
 'Bern, Switzerland',
 'Brienz, Switzerland',
 'Geneva, Switzerland',
 'Gruyères, Switzerland',
 'Interlaken, Switzerland',
 'Lausanne, Switzerland',
 'Lauterbrunnen, Switzerland',
 'Lugano, Switzerland',
 'Luzern, Switzerland',
 'Meyrin, Switzerland',
 'Montreux, Switzerland',
 'St. Moritz, Switzerland',
 'Stein am Rhein, Switzerland',
 'Zermatt, Switzerland',
 'Zürich, Switzerland',
 'Kaohsiung, Taiwan, Taiwan',
 'Taichung, Taiwan, Taiwan',
 'Taipei, Taiwan, Taiwan',
 'Dushanbe, Tajikistan',
 'Dar es Salaam, Tanzania',
 'Zanzibar, Tanzania',
 'Ayutthaya, Thailand',
 'Bankok, Thailand',
 'Chiang Mai, Thailand',
 'Pai, Thailand',
 'Phang Nga, Thailand',
 'Phi Phi Don, Thailand',
 'Phuket, Thailand',
 'Railay Beach, Thailand',
 'Sukhothai, Thailand',
 'Trang, Thailand',
 'Port of Spain, Trinidad and Tobago',
 'Scarborough, Trinidad and Tobago',
 'Djerba, Tunisia',
 'Monastir, Tunisia',
 'Sidi Bou Saïd, Tunisia',
 'Tunis, Tunisia',
 'Alaçatı, Turkey',
 'Alanya, Turkey',
 'Ankara, Turkey',
 'Antalya, Turkey',
 'Bodrum, Turkey',
 'Ephesus, Turkey',
 'Göreme, Turkey',
 'Istanbul, Turkey',
 'Izmir, Turkey',
 'Konya, Turkey',
 'Mardin, Turkey',
 'Marmaris, Turkey',
 'Selçuk, Turkey',
 'Side, Turkey',
 'Kampala, Uganda',
 'Bukovel, Ukraine',
 'Chernihiv, Ukraine',
 'Kiev, Ukraine',
 'Lviv, Ukraine',
 'Odessa, Ukraine',
 'Zhytomyr, Ukraine',
 'Abu Dhabi, United Arab Emirates',
 'Al Ain, United Arab Emirates',
 'Dubai, United Arab Emirates',
 'Bath, England, United Kingdom',
 'Birmingham, England, United Kingdom',
 'Brighton, England, United Kingdom',
 'Bristol, England, United Kingdom',
 'Cambridge, England, United Kingdom',
 'Crawley, England, United Kingdom',
 'Leeds, England, United Kingdom',
 'Liverpool, England, United Kingdom',
 'London, England, United Kingdom',
 'Manchester, England, United Kingdom',
 'Oxford, England, United Kingdom',
 'Southampton, England, United Kingdom',
 'York, England, United Kingdom',
 'Gibraltar, Gibraltar, United Kingdom',
 'Belfast, Northern Ireland, United Kingdom',
 'Derry, Northern Ireland, United Kingdom',
 'Aberdeen, Scotland, United Kingdom',
 'Edinburgh, Scotland, United Kingdom',
 'Fort William, Scotland, United Kingdom',
 'Glasgow, Scotland, United Kingdom',
 'Inverness, Scotland, United Kingdom',
 'Islay, Scotland, United Kingdom',
 'St. Andrews, Scotland, United Kingdom',
 'Cardiff, Wales, United Kingdom',
 'Swansea, Wales, United Kingdom',

In [16]:
def safe_eval_lists(x):
    if len(x) == 0:
        return []
    return ast.literal_eval(x)

swipe_columns = ['yes_swipes', 'no_swipes', 'maybe_swipes']

for col in swipe_columns:
    df[col] = df[col].apply(safe_eval_lists)

In [17]:
def map_yes_swipes(lst):
    places = []
    for idx in lst:
        places.append(destinations[idx - 1])

    return places

df['yes_swipes'] = df['yes_swipes'].apply(map_yes_swipes)
df.head()

,id,yes_swipes,no_swipes,maybe_swipes,Model,Retrieval,DynaMatch,Rating_0,Rating_1,Rating_2,...,age_ranges,budget_ranges,season,interests,sceneries,activity_level,safety_conscious,popularity,where_to_go,where_to_go_exactly
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"[Al Ain, United Arab Emirates, Brienz, Switzer...","[1256, 855, 1259, 551, 55, 257, 648, 234, 209,...",[],-1,-1,-1,-1.0,-1.0,-1.0,...,"[0-19, 20-39]",[50-99],Summer,"[Beach, Adventure, Nature, Cuisine]","[Urban, Sea, Lake]",Balanced,Balanced,Classic Spot,NaN,NaN
1,89b7022ab8f011ec9a19fefb5d5b7ead,"[Kom Ombo, Egypt, The Hague, Netherlands]","[126, 945, 865, 330, 1237, 1264, 824, 87]",[],-1,-1,-1,-1.0,-1.0,-1.0,...,"[0-19, 20-39]",[300+],Summer,"[Beach, Culture, Nightlife, History, Shopping,...","[Urban, Rural, Sea, Lake]",Balanced,Balanced,Classic Spot,NaN,NaN
2,c64f6c36b8f011ec9a19fefb5d5b7ead,"[Mérida, Mexico, Evora, Portugal, Lava Hot Spr...","[1129, 933, 1030, 1009, 1362, 1130]",[715],-1,-1,-1,-1.0,-1.0,-1.0,...,[20-39],[50-99],Summer,"[Beach, Adventure, Culture, Nightlife, Cuisine]","[Urban, Sea, Lake, Jungle]",Balanced,Balanced,Classic Spot,NaN,NaN
3,1eb6079ab8f111ec9a19fefb5d5b7ead,"[Saint-Tropez, France, Billund, Denmark, Pucon...","[24, 1396, 1375]",[],-1,-1,-1,-1.0,-1.0,-1.0,...,[20-39],[50-99],Summer,[Cuisine],[Lake],Balanced,Ready for Anything,Classic Spot,NaN,NaN
4,285e9852b8f111ec9a19fefb5d5b7ead,"[Springfield, Missouri, United States, Nafplio...","[1407, 305, 150, 442]",[],-1,-1,-1,-1.0,-1.0,-1.0,...,[20-39],[0-49],Spring,[Nature],"[Sea, Mountain, Lake]",Chill & Relaxed,Balanced,Off the Beaten Path,NaN,NaN

In [18]:
def map_no_swipes(lst):
    places = []
    for idx in lst:
        places.append(destinations[idx - 1])

    return places

df['no_swipes'] = df['no_swipes'].apply(map_no_swipes)
df.head()

,id,yes_swipes,no_swipes,maybe_swipes,Model,Retrieval,DynaMatch,Rating_0,Rating_1,Rating_2,...,age_ranges,budget_ranges,season,interests,sceneries,activity_level,safety_conscious,popularity,where_to_go,where_to_go_exactly
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"[Al Ain, United Arab Emirates, Brienz, Switzer...","[Ruidoso, New Mexico, United States, Aberdeen,...",[],-1,-1,-1,-1.0,-1.0,-1.0,...,"[0-19, 20-39]",[50-99],Summer,"[Beach, Adventure, Nature, Cuisine]","[Urban, Sea, Lake]",Balanced,Balanced,Classic Spot,NaN,NaN
1,89b7022ab8f011ec9a19fefb5d5b7ead,"[Kom Ombo, Egypt, The Hague, Netherlands]","[Mont-Tremblant, Canada, Oceanside, California...",[],-1,-1,-1,-1.0,-1.0,-1.0,...,"[0-19, 20-39]",[300+],Summer,"[Beach, Culture, Nightlife, History, Shopping,...","[Urban, Rural, Sea, Lake]",Balanced,Balanced,Classic Spot,NaN,NaN
2,c64f6c36b8f011ec9a19fefb5d5b7ead,"[Mérida, Mexico, Evora, Portugal, Lava Hot Spr...","[Annapolis, Maryland, United States, Fresno, C...",[715],-1,-1,-1,-1.0,-1.0,-1.0,...,[20-39],[50-99],Summer,"[Beach, Adventure, Culture, Nightlife, Cuisine]","[Urban, Sea, Lake, Jungle]",Balanced,Balanced,Classic Spot,NaN,NaN
3,1eb6079ab8f111ec9a19fefb5d5b7ead,"[Saint-Tropez, France, Billund, Denmark, Pucon...","[Alice Springs, Australia, New Braunfels, Texa...",[],-1,-1,-1,-1.0,-1.0,-1.0,...,[20-39],[50-99],Summer,[Cuisine],[Lake],Balanced,Ready for Anything,Classic Spot,NaN,NaN
4,285e9852b8f111ec9a19fefb5d5b7ead,"[Springfield, Missouri, United States, Nafplio...","[Saint George, Utah, United States, Saint-Trop...",[],-1,-1,-1,-1.0,-1.0,-1.0,...,[20-39],[0-49],Spring,[Nature],"[Sea, Mountain, Lake]",Chill & Relaxed,Balanced,Off the Beaten Path,NaN,NaN

In [19]:
def map_maybe_swipes(lst):
    places = []
    for idx in lst:
        places.append(destinations[idx - 1])

    return places

df['maybe_swipes'] = df['maybe_swipes'].apply(map_maybe_swipes)
df.head()

,id,yes_swipes,no_swipes,maybe_swipes,Model,Retrieval,DynaMatch,Rating_0,Rating_1,Rating_2,...,age_ranges,budget_ranges,season,interests,sceneries,activity_level,safety_conscious,popularity,where_to_go,where_to_go_exactly
0,22871c2cb8ee11ec9a19fefb5d5b7ead,"[Al Ain, United Arab Emirates, Brienz, Switzer...","[Ruidoso, New Mexico, United States, Aberdeen,...",[],-1,-1,-1,-1.0,-1.0,-1.0,...,"[0-19, 20-39]",[50-99],Summer,"[Beach, Adventure, Nature, Cuisine]","[Urban, Sea, Lake]",Balanced,Balanced,Classic Spot,NaN,NaN
1,89b7022ab8f011ec9a19fefb5d5b7ead,"[Kom Ombo, Egypt, The Hague, Netherlands]","[Mont-Tremblant, Canada, Oceanside, California...",[],-1,-1,-1,-1.0,-1.0,-1.0,...,"[0-19, 20-39]",[300+],Summer,"[Beach, Culture, Nightlife, History, Shopping,...","[Urban, Rural, Sea, Lake]",Balanced,Balanced,Classic Spot,NaN,NaN
2,c64f6c36b8f011ec9a19fefb5d5b7ead,"[Mérida, Mexico, Evora, Portugal, Lava Hot Spr...","[Annapolis, Maryland, United States, Fresno, C...","[Piran, Slovenia]",-1,-1,-1,-1.0,-1.0,-1.0,...,[20-39],[50-99],Summer,"[Beach, Adventure, Culture, Nightlife, Cuisine]","[Urban, Sea, Lake, Jungle]",Balanced,Balanced,Classic Spot,NaN,NaN
3,1eb6079ab8f111ec9a19fefb5d5b7ead,"[Saint-Tropez, France, Billund, Denmark, Pucon...","[Alice Springs, Australia, New Braunfels, Texa...",[],-1,-1,-1,-1.0,-1.0,-1.0,...,[20-39],[50-99],Summer,[Cuisine],[Lake],Balanced,Ready for Anything,Classic Spot,NaN,NaN
4,285e9852b8f111ec9a19fefb5d5b7ead,"[Springfield, Missouri, United States, Nafplio...","[Saint George, Utah, United States, Saint-Trop...",[],-1,-1,-1,-1.0,-1.0,-1.0,...,[20-39],[0-49],Spring,[Nature],"[Sea, Mountain, Lake]",Chill & Relaxed,Balanced,Off the Beaten Path,NaN,NaN

In [20]:
df.isna().sum()

id                         0
yes_swipes                 0
no_swipes                  0
maybe_swipes               0
Model                      0
Retrieval                  0
DynaMatch                  0
Rating_0                4682
Rating_1                4682
Rating_2                4682
Rating_3                4682
Rating_4                4682
Rating_5               15425
Rating_6               15425
Rating_7               15425
Rating_8               15425
Rating_9               15425
Rec_0                   4688
Rec_1                   4688
Rec_2                   4689
Rec_3                   4689
Rec_4                   4689
Rec_5                  15433
Rec_6                  15433
Rec_7                  15433
Rec_8                  15433
Rec_9                  15433
age_ranges                 1
budget_ranges              3
season                     3
interests                457
sceneries               1294
activity_level             1
safety_conscious           2
popularity                 2
where_to_go            62677
where_to_go_exactly    67344
dtype: int64

In [ ]:
df.to_csv('travel_preferences.csv', index=False)