In [3]:
import datasets

dataset = datasets.load_dataset("ashmib/SynthTRIPs")

print(dataset)

README.md: 0.00B [00:00, ?B/s]

filter_groundedness_sys.txt:   0%|          | 0.00/790 [00:00<?, ?B/s]

filter_groundedness_user.txt:   0%|          | 0.00/109 [00:00<?, ?B/s]

persona_alignment_sys.txt:   0%|          | 0.00/620 [00:00<?, ?B/s]

persona_alignment_user.txt:   0%|          | 0.00/123 [00:00<?, ?B/s]

sys_prompt_v.txt: 0.00B [00:00, ?B/s]

sys_prompt_w.txt: 0.00B [00:00, ?B/s]

user_prompt.txt:   0%|          | 0.00/185 [00:00<?, ?B/s]

Generating test split:   0%|          | 0/80 [00:00<?, ? examples/s]

DatasetDict({
    test: Dataset({
        features: ['text'],
        num_rows: 80
    })
})

In [5]:
dataset.keys()

dict_keys(['test'])

In [6]:
dataset["test"][:3]

{'text': ['You are given a query and a list of filters. Your task is to identify how many filters are present in the query. Only return the number of matches and your explanation for this in the following format: ',
  '',
  'Matches: (number of matches found)']}

In [7]:
from datasets import get_dataset_config_names

configs = get_dataset_config_names("ashmib/SynthTRIPs")
print(configs)

['default']

In [14]:
import pandas as pd

cities = pd.DataFrame([
    {"city": "Paris", "avg_cost": 1500, "climate": "mild", "activities": ["culture","food","nightlife"], "best_months": ["May","Jun","Sep"]},
    {"city": "Reykjavik", "avg_cost": 1500, "climate": "cold", "activities": ["nature","hiking","adventure"], "best_months": ["Jun","Jul","Aug"]},
    {"city": "Rome", "avg_cost": 1000, "climate": "warm", "activities": ["culture","history","food"], "best_months": ["Apr","May","Sep"]},
    {"city": "Barcelona", "avg_cost": 1100, "climate": "warm", "activities": ["beach","nightlife","culture"], "best_months": ["Jun","Jul","Aug","Sep"]},
    {"city": "Innsbruck", "avg_cost": 1300, "climate": "cold", "activities": ["skiing","hiking","nature"], "best_months": ["Dec","Jan","Feb"]}
])

In [9]:
import random

age_groups = ["18-25", "26-35", "36-50", "51+"]
travel_styles = ["adventure", "relaxation", "culture", "nightlife"]
group_types = ["solo", "couple", "friends", "family"]
budget_levels = ["low", "medium", "high"]

In [10]:
def generate_user():
    return {
        "age_group": random.choice(age_groups),
        "style": random.choice(travel_styles),
        "group_type": random.choice(group_types),
        "budget": random.choice(budget_levels)
    }

generate_user()

{'age_group': '26-35',
 'style': 'adventure',
 'group_type': 'family',
 'budget': 'medium'}

In [11]:
def generate_filters(user):
    budget_map = {"low": 800, "medium": 1500, "high": 3000}
    
    return {
        "budget_max": budget_map[user["budget"]],
        "activities": [user["style"]],  
        "duration_days": random.choice([3,5,7,10]),
        "preferred_month": random.choice(["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"])
    }

user = generate_user()
filters = generate_filters(user)
print(user)
print(filters)

{'age_group': '18-25', 'style': 'adventure', 'group_type': 'solo', 'budget': 'medium'}
{'budget_max': 1500, 'activities': ['adventure'], 'duration_days': 10, 'preferred_month': 'Jun'}

In [15]:
def score_city(user, filters, city):
    score = 0

    # Check if the budget is okay
    if city["avg_cost"] <= filters["budget_max"]:
        score += 0.4
    
    # Activity match
    if any(act in city["activities"] for act in filters["activities"]):
        score += 0.3
    
    # Season match
    if filters["preferred_month"] in city["best_months"]:
        score += 0.2
    
    # Climate mapping (optional)
    style_to_climate = {"adventure":"cold","relaxation":"warm","culture":"mild","nightlife":"warm"}
    if style_to_climate[user["style"]] == city["climate"]:
        score += 0.1
    
    return round(score,2)

# Example
for idx,row in cities.iterrows():
    print(row["city"], score_city(user, filters, row))

Paris 0.4
Reykjavik 1.0
Rome 0.4
Barcelona 0.6
Innsbruck 0.5

In [16]:
dataset = []

for _ in range(5000):
    user = generate_user()
    filters = generate_filters(user)

    for idx, city in cities.iterrows():
        dataset.append({
            "user_age_group": user["age_group"],
            "user_style": user["style"],
            "user_group_type": user["group_type"],
            "user_budget": user["budget"],
            "city": city["city"],
            "budget_max": filters["budget_max"],
            "activities": filters["activities"],
            "preferred_month": filters["preferred_month"],
            "duration_days": filters["duration_days"],
            "score": score_city(user, filters, city)
        })

df = pd.DataFrame(dataset)
df.head(10)

,user_age_group,user_style,user_group_type,user_budget,city,budget_max,activities,preferred_month,duration_days,score
0,26-35,nightlife,friends,low,Paris,800,[nightlife],Dec,7,0.3
1,26-35,nightlife,friends,low,Reykjavik,800,[nightlife],Dec,7,0.0
2,26-35,nightlife,friends,low,Rome,800,[nightlife],Dec,7,0.1
3,26-35,nightlife,friends,low,Barcelona,800,[nightlife],Dec,7,0.4
4,26-35,nightlife,friends,low,Innsbruck,800,[nightlife],Dec,7,0.2
5,18-25,adventure,friends,high,Paris,3000,[adventure],Feb,7,0.4
6,18-25,adventure,friends,high,Reykjavik,3000,[adventure],Feb,7,0.8
7,18-25,adventure,friends,high,Rome,3000,[adventure],Feb,7,0.4
8,18-25,adventure,friends,high,Barcelona,3000,[adventure],Feb,7,0.4
9,18-25,adventure,friends,high,Innsbruck,3000,[adventure],Feb,7,0.7